

.error {
  color:red;
  font-weight: bold;
}

.App{
  border:1px solid hotpink;
 
  /* margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center; */
}

.contentWrapper{
  border:1px solid sandybrown;
}